{% extends "layout.html" %}

{% block content %}

<h1> 
    {{ room.name }} 
</h1>

<pre>
    {{ room.description }}
</pre>

<form action="" method="POST" novalidate>
    
    {{ form.hidden_tag() }}

    {{ form.player_input(class='input_box') }}
    
    {% for error in form.player_input.errors %}
        <span style='color: yellow;'>{{ error }}</span> 

    {% endfor %} 
    
    {% with messages=get_flashed_messages() %}
        
        {% for message in messages %}
            <span style='color: yellow;'>{{ message }}</span>

        {% endfor %}

    {% endwith %}
    <br>
    {{ form.submit(class='button') }}
    
</form>

{% endblock %}